.rc-slider-track {
    background-color: #FF9053 !important; /* Оранжевый цвет */
}

.rc-slider-handle {
    border-color: #FF9053 !important; /* Оранжевый цвет */
}

.rc-slider-dot-active {
    border-color: #FF9053 !important; /* Оранжевый цвет */
}